.header{
    background-color: teal;
    height:100px;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header h1{
    margin: 0px;
}